/* Modal styles  */
.my-back{
    background-color: #009edf !important;
    color: white;
    border-radius: 15px;
    font-weight: 700;
}
.modal-header {
    border-bottom: none;
    justify-content: center;
}
@media only screen and (max-width:575px) {
    .my-back {
        width: 70%;
        display: block;
        margin: auto;
        padding: 0px !important;
        font-size: 12px !important;
    }
}